.bkgrHome {
    background-image: url('./../img/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.homeCont {
    height: 100vh;
}

.optionsCol {
    min-height: 30rem;
}